/* Google Font Embeded */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Font Style */

.inter {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
.inter-medium{
    font-weight: 500;
}
.inter-semibold{
    font-weight: 600;
}
.inter-bold{
    font-weight: 700;
}
.inter-extrabold{
    font-weight: 800;
}

/* Custom font */
@font-face {
    font-family: 'Miama', sans-serif;
    src: url('../fonts/Miama.otf') format('otf');
    font-style: normal;
}
.miama{
    font-family: 'Miama', sans-serif;
}

/* Global Styles */
.container{
    max-width: 1060px;
    margin: 0 auto;
}

/* Global styles for margin and padding */
*{
    margin: 0;
    padding: 0;
}
body{
    box-sizing: content-box;
}
/* Main Styles Start here */
nav{
    padding: 58px 0 32px;
}
.logo-area h4{
    color: #E6533C;
    font-size: 2.25rem;
    font-style: italic;
    line-height: 2.638rem;
}

/* Menu item styles */
.nav-area{
    display: flex;
    justify-content: space-between;
}
.menu-area{
    /* max-width: 456px; */
    height: 46px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    display: flex;
    align-items: center;
    border-radius: 50px;
    margin-right: 30px;
}
.menu-item{
    display: flex;
    justify-content: center;
    gap: 47px;
}
.list-item{
    list-style: none;
    text-align: center;
}
.list-item > a {
    font-size: 1.125rem;
    text-decoration: none;
    line-height: 1.038rem;
    padding: 12px 20px;
}
.list-item >a:hover{
    background: #E6533C;
    border-radius: 50px;
}
