/* Google Font Embeded */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Font Style */

.inter {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
.inter-medium{
    font-weight: 500;
}
.inter-semibold{
    font-weight: 600;
}
.inter-bold{
    font-weight: 700;
}
.inter-extrabold{
    font-weight: 800;
}
.inter-black{
    font-weight: 900;
}


/* Global Styles */
.container{
    max-width: 1060px;
    margin: 0 auto;
}
.text-white{
    color: #fff;
}
.text-center{
    text-align: center;
}
.primary-bg{
    background: #E6533C;
}
.custom-btn{
    color: #fff;
    font-size: 1.125rem;
    border: 0;
    padding: 16px 40px;
    border-radius: 42px;
    margin-bottom: 10px;
}
.transparent-btn{
    color: #fff;
    border: 1px solid #fff;
    background: transparent;
    margin-left: 14px;
}
/* Section title */
.section-title{
    color: #fff;
    font-size: 3rem;
    font-weight: 900;
    line-height: 57.6px;
    margin-bottom: 14px;
}
.section-description{
    color: rgba(255, 255, 255, 0.50);
    font-size: 0.875rem;
    line-height: 24px;
    letter-spacing: 0.3px;
    margin: 0 auto;
}

/* Habit styles */
.habits-area{
    padding: 100px 0;
}
.habits{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    padding-top: 58px;
}
.habit img{
    border-radius: 50%;
    margin-bottom: 30px;
}
.habit-info-title{
    margin-bottom: 6px;
}



/* Global styles for margin and padding */
*{
    margin: 0;
    padding: 0;
}
body{
    box-sizing: content-box;
}
/* Main Styles Start here */
header{
    background: linear-gradient(180deg, #111 0%, rgba(119, 119, 119, 0.00) 100%), #000;
}
nav{
    padding: 58px 0 32px;
}
.logo-area h4{
    color: #E6533C;
    font-size: 2.25rem;
    font-style: italic;
    line-height: 2.638rem;
}

/* Menu item styles */
.nav-area{
    display: flex;
    justify-content: space-between;
}
.menu-area{
    /* max-width: 456px; */
    height: 46px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    display: flex;
    align-items: center;
    border-radius: 50px;
    margin-right: 30px;
}
.menu-item{
    display: flex;
    justify-content: center;
    gap: 47px;
}
.list-item{
    list-style: none;
    text-align: center;
}
.list-item > a {
    color: #fff;
    font-size: 1.125rem;
    text-decoration: none;
    line-height: 1.038rem;
    padding: 12px 20px;
}
.list-item .active{
    color: #fff;
    background: #E6533C;
    border-radius: 50px;
}

/* Toggle icon styles */
.toggle-icon{
    display: none;
}
.toggle-icon i{
    color: #fff;
    font-size: 1.5rem;
}

/* Banner Styles */
.banner-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}
.banner-text{
    width: 520px;
}
.banner-title{
    color: #fff;
    font-size: 4.875rem;
    line-height: 93px;
}
.custom-style{
    font-family: 'Miama', sans-serif;
    font-size: 4.875rem;
    font-weight: 400;
    line-height: 93px;
}
.banner-description{
    color: rgba(255, 255, 255, 0.50);
    font-size: 1rem;
    line-height: 24px;
    letter-spacing: 0.5px;
    padding: 28px 0;
}

/* Banner Image styles */
.banner-image-area{
    width: 560px;
}
.banner-image-container{
    display: flex;
    justify-content: center;
}
/* Banner Video Info Styles */
.video-container{
    display: flex;
    justify-content: space-between;
    position: relative;
}
.video-info-1{
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 20px 23px;
    position: absolute;
    bottom: 63px;
}
.video-info-bg{
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    background: rgba(48, 48, 48, 0.54);
    backdrop-filter: blur(10px);
}
.tomato-shape{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.video-count{
    color: #fff;
    font-size: 1.5rem;
    line-height: 24px;
    letter-spacing: 0.3px;
    margin-bottom: 8px;
}
.video-text{
    color: rgba(239, 237, 232, 0.65);
}
.video-info-2{
    padding: 20px 23px;
    position: absolute;
    bottom: 357px;
    right: 0;
}
.video-info-2 h3{
    color: #fff;
    font-size: 2.5rem;
    line-height: 40px;
    letter-spacing: 1px;
    margin-bottom: 5px;
}

/* Main Styles Starts Here */
main{
    background: #000;
}

/* Change your habit */
.habit-area{
    text-align: center;
}
.habit-description{
    width: 671px;
    margin: 0 auto;
}

/* Join now styles */
.join-now-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px;
    background: #222;
    border-radius: 18px;
}
.join-now-description{
    width: 443px;
    padding: 14px 0 34px;
}
.join-now-img{
    width: 366px;
}
.join-now-img img{
    width: 100%;
    border-radius: 18px;
}

/* BMI Calculator Area Styles */
.section-heading{
    width: 671px;
    margin: 0 auto;
    padding: 88px 0;
}

/* BMI Chart Styles */
.bmi-calculator-content-area{
    background: #222;
    padding: 50px 0;
}
.bmi-calculator-content{
    display: flex;
    justify-content: space-between;
}
.bmi-calculator-title{
    font-size: 1.75rem;
    line-height: 33.6px;
}
table{
    margin-top: 52px;
}
table, th, td{
    border: 1px solid rgba(255, 255, 255, 0.10);
    border-collapse: collapse;
    padding: 13px 18px;
}
td{
    color: rgba(255, 255, 255, 0.50);
}

/* BMI Calculator Styles */
.bmi-calculator{
    width: 577px;
}
.bmi-calculator > .section-description{
    padding: 14px 0 34px;
}

/* Calculate your BMI styles */
form {
    display: flex;
    flex-direction: column;
}
.form-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
}
.half-width-input{
    width: 282.5px;
    color: rgba(255, 255, 255, 0.60);
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.10);  
    padding: 12px;
    border: 0;
    font-size: 1rem;
    line-height: 22px;
    box-sizing: border-box;
}

.activity-selection{
    width: 577px;
    color: rgba(255, 255, 255, 0.60);
    background: rgba(255, 255, 255, 0.10); 
    font-size: 1rem;
    border: 0;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 12px;
    margin-top: 12px; 
    line-height: 22px;
}
option{
    width: 100%;
}

select {
    appearance: none;
}

select:focus{
    background: #1A1A1A;
}

/* Meet Our Team Styles */
#meet-our-team-area{
    padding: 88px 0;
}
.teams{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    background: #222;
    border-radius: 18px;
    padding: 20px;
}
.team{
    width: 326.67px;
    height: 272px;
    position: relative;
}
.team img{
    width: 100%;
    height: 100%;
    border-radius: 18px;
    object-fit: cover;
}
.trainer-info{
    position: absolute;
    left: 19px;
    bottom: 16px;
}

/* Footer Styles */
footer{
    background: #222;
}
.footer-content{
    display: flex;
    gap: 102px;
    padding: 66px 0 79px;
}
.footer-info{
    display: flex;
    gap: 152px;
}
.footer-logo{
    color: #E6533C;
    font-size: 4.375rem;
    font-style: italic;
    line-height: 84px
}
.footer-description{
    width: 433px;
    color: rgba(255, 255, 255, 0.50);
    font-size: .875rem;
    line-height: 24px;
    letter-spacing: 0.3px;
}
.footer-title{
    color: #FFF;
    font-size: 2rem;
    line-height: 38.4px;
    margin-bottom: 39px;
}

/* footer menu styles */
.footer-menu li{
    list-style: none;
    margin-bottom: 20px;
}
.footer-menu a{
    color: rgba(255, 255, 255, 0.50);
    font-size: 1.5rem;
    line-height: 27.6px;
    text-decoration: none;
}
hr{
    border: 2px solid rgba(255, 255, 255, 0.10);;
}
.copyright-text{
    color: rgba(255, 255, 255, 0.50);
    font-size: 1.25rem;
    line-height: 24px;
    letter-spacing: 0.3px;
    padding: 36px 0;
}

/* Media Query Styles for Small Device */
@media only screen and (max-width: 576px){
    header{
        padding: 20px;
    }
    .nav-area{
        padding-top: 32px;
    }
    .menu-area{
        border: 0;
        margin-right: 0;
    }
    .menu-item{
        display: none;
    }
    .toggle-icon{
        display: block;
    }
    .banner-area{
        flex-direction: column;
    }
    .banner-text{
        width: 100%;
        text-align: left;
    }
    .banner-title{
        font-size: 2.25rem;
        line-height: 43px;
    }
    .banner-image-area{
        width: 100%;
    }
    .transparent-btn{
        margin-left: 0;
    }

    /* Habits Style */
    .habits-area{
        padding: 0;
    }
    .habits{
        grid-template-columns: 1fr;
    }
    .section-heading{
        width: 100%;
        padding: 0 0 22px 0;
    }
    .section-title{
        font-size: 2rem;
        line-height: 38.4px;
    }
    .section-description{
        width: 75%;
        margin: 0 auto;
    }

    /* Join Now Styles */
    .join-now-area{
        flex-direction: column;
        margin: 20px;
        gap: 30px;
    }
    .join-now-text .join-now-description{
        margin: 0;
    }
    .bmi-calculator-area{
        padding: 20px;
    }
    .bmi-calculator-content-area{
        flex-direction: column;
        gap: 42px;
    }
    .bmi-calculator-area .section-description{
        margin: 0;
    }
    .bmi-calculator{
        width: 100%;
    }
    .half-width-input, .activity-selection{
        width: 100%;
    }


    /* Teams Styles */
    .teams{
        grid-template-columns: 1fr;
        justify-items: center;
        margin: 20px;
    }

    /* Footer Styles */
    .footer-content{
        flex-direction: column;
        padding: 20px;
    }
    .footer-info{
        flex-direction: column;
        gap: 20px;
    }
    .footer-description{
        width: 100%;
    }
}

/* Media Query Styles fo medium device */
@media only screen and (min-width: 577px) and (max-width: 768px) {
    /* Nav Styles */
    .nav-area{
        padding: 52px 30px;
    }
    .menu-area{
        margin-right: 0;
    }
    .menu-item{
        gap: 0;
    }
    .list-item > a{
        padding: 8px 20px;
    }
    /* Banner Styles */
    .banner-area{
        flex-direction: column;
    }
    .banner-text{
        width: 600px;
    }

    /* Banner image area styles */
    .video-info-1{
        left: 32px;
        bottom: 142px;
    }
    .video-info-2{
        right: 62px;
        bottom: 428px;
    }
    /* Change your habit styles */
    .habits-area{
        padding: 100px 90px;
    }
    .habits{
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }

    /* Join now ares styles */
    .join-now-area{
        padding: 40px 43px 40px 54px;
        margin: 30px;
    }
    .join-now-text .section-title{
        font-size: 2.25rem;
        line-height: 43px;
    }
    .join-now-description{
        width: 262px;
    }
    .join-now-img {
        width: 256px;
        height: 319px;
        border-radius: 18px;
        overflow: hidden;
    }
    .join-now-img img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 78% 100%;
        transform: scale(2) translate(0%, 10%);
    }
    #meet-our-team-area, footer{
        display: none;
    }
}   